<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.tff") format("woff2"),
    url("/fonts/Helvetica-Bold.ttf") format("woff");
  font-weight: 400; /* Regular */
  font-style: normal;
}
:root {
  --maincolor: rgba(255, 159, 13, 1);
}
=======
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

>>>>>>> 6ff6d2b382672a4ed12bead2fd8c7f695c9db6b7
/* styles/globals.css */
body,
p,
h1,
h2,
h3,
h4,
ul,
input {
<<<<<<< HEAD
  font-family: "Helvetica", sans-serif;
}
p,
span {
  font-family: "Inter", sans-serif;
}
.mainBanner {
  background-image: url("/img/banner_bg.jpg");
  background-position: center center;
}
.familytwo {
  font-family: Great Vibes;
}
.homeBtn {
  background-color: var(--maincolor);
  font-weight: 400;
}
.subTitle-banner {
  color: var(--maincolor);
}
.mainColor {
  color: var(--maincolor);
}
.maidel span {
  display: block;
}
.maidel span {
  display: block;
}

.maidel {
  overflow: hidden;
  position: relative;
  padding-left: 30px;
  width: 60%;
  justify-content: flex-start;
  margin-top: 20px !important;
=======
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1240px;
}
.logo h2 {
  font-weight: 600;
  font-size: 21px;
>>>>>>> 6ff6d2b382672a4ed12bead2fd8c7f695c9db6b7
}

.maidel h4 {
  margin-left: 20px;
}

.maidel:before {
  content: "";
  position: absolute;
  background: #ff9f0d;
  height: 100%;
  width: 8px;
  left: 0;
}
.maidel span {
  display: block;
}

<<<<<<< HEAD
.maidel {
  overflow: hidden;
  position: relative;
  padding-left: 30px;
  width: 60%;
  justify-content: flex-start;
  margin-top: 20px !important;
}

.maidel h4 {
  margin-left: 20px;
}

.maidel:before {
  content: "";
  position: absolute;
  background: #ff9f0d;
  height: 100%;
  width: 8px;
  left: 0;
=======
.footer .container img {
  height: auto;
  margin-top: 10px;
}

.footer {
  padding: 50px 0;
}
.banner {
  background: linear-gradient(to bottom, #ffa2c1, #fbfbfb);
  padding-top: 120px;
  margin-top: -100px;
  padding-bottom: 90px;
}
.banner .container {
  align-items: center;
}

.banner img {
  object-fit: cover;
  height: 420px;
  border-radius: 10px;
  border: 11px solid #fff;
  margin: 0 auto;
  display: block;
>>>>>>> 6ff6d2b382672a4ed12bead2fd8c7f695c9db6b7
}
.counterSection {
  background-image: url("/img/home/count_bg.png");
  background-size: cover;
  background-position: center;
}
.chefDetails {
  background: #ffffff;
  width: 70%;
  z-index: 10;
  position: relative;
  display: block;
  position: relative;
  margin-top: -87px;
  color: #000;
  padding-left: 22px;
}
.starFill {
  color: #ff9f0d;
}
.processSection {
  background: url("/img/home/process.png") no-repeat;
}
<<<<<<< HEAD
.imagCol {
  width: 40%;
=======

.aboutSection p {
  color: #848484;
  margin-bottom: 30px;
>>>>>>> 6ff6d2b382672a4ed12bead2fd8c7f695c9db6b7
}
.menuCol {
  width: 60%;
}
.imagCol img {
  width: 80%;
}
.menuSection.flex-row-reverse .container {
  flex-flow: row-reverse;
}
.buttonBg-color {
  background: var(--maincolor);
  color: #fff;
}
.blogBtn {
  color: var(--maincolor);
  border: 1px solid var(--maincolor);
}
.mainProductIgm {
  margin-top: 0 !important;
}
.tagsMain {
  align-items: center;
<<<<<<< HEAD
  display: flex;
  justify-content: space-between;
  margin-top: 0 !important;
}

.tagsMain li {
  justify-content: space-around;
  border: 1px solid #e0e0e0;
  padding: 8px;
  margin-top: 0 !important;
}
.lightBg {
  background-color: #ff9f0d;
  color: #fff;
}
.aboutBoxes svg {
  margin: 0 auto;
}
.innerChef section.bg-black {
  background: white;
  color: #000 !important;
}
.innerChef section.bg-black,
.innerChef section .rounded-md.bg-black {
  background: white;
  color: #000 !important;
=======
}
.aboutpageWrapper {
  padding: 90px;
  background: linear-gradient(to bottom, #ffa2c1, #fbfbfb);
  padding-top: 160px;
  margin-top: -100px;
}

.portfolio-wrapper {
  background: linear-gradient(to bottom, #ffa2c1, #fbfbfb);
>>>>>>> 6ff6d2b382672a4ed12bead2fd8c7f695c9db6b7
}

.grid.grid-cols-1.md\:grid-cols-2.gap-8.rounded-md bg-black {
  background: #fff !important;
}
.chefContainer p {
  margin-top: 0 !important;
}
.singleFaq {
  background: rgba(250, 247, 242, 1);
}
<<<<<<< HEAD
@media (min-width: 1536px) {
=======
section.contantForm {
  background: linear-gradient(to bottom, #ffa2c1, #fbfbfb);
  padding-top: 120px;
  margin-top: -100px;
  padding-bottom: 50px;
}

form input,
form textarea {
  background: transparent;
  border: 1px solid #f17d7d;
  width: 100%;
  margin-bottom: 10px;
  padding: 11px;
  border-radius: 10px;
}

form label {
  display: none;
}

.form-wrapper label {
  display: none;
}
.contantForm h2 {
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
}
nav.menu a {
  margin: 0 30px !important;
  color: #000;
  text-decoration: none;
}
.prodctionSection {
  padding: 50px 0;
}
.prodctionSection h2 {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}
.bannerBg-home {
  padding: 90px;
  background: linear-gradient(to bottom, #ffa2c1, #fbfbfb);
  padding-top: 160px;
  margin-top: -80px;
}
.portfolioProductsection {
  background: linear-gradient(to bottom, #ffa2c1, #fbfbfb);
  padding-top: 120px;
  margin-top: -80px;
}
.btn {
  background: #9d1529 !important;
  color: #fff;
  padding: 10px 29px;
  border: 0;
  border-radius: 10px;
}
.menu a:hover {
  color: #9d1529;
}
.rowCustom {
  display: flex;
}

header .rowCustom {
  justify-content: space-around;
  align-items: center;
}

.container {
  margin: 0 auto;
}

header {
  padding: 30px 0;
}

.logo a {
  color: #000;
  text-decoration: none;
}

.colmun-6 {
  width: 50%;
}

.banner .rowCustom {
  align-items: center;
}
.mainProduct-row {
  display: flex;
  text-align: center;
}

.sale {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 13px;
  background: #ef4444;
  padding: 6px 10px;
  border-radius: 20px;
  color: #fff;
}

.singleImage {
  width: 100%;
  border-radius: 10px;
}

.image-wrpper {
  padding: 10px;
  position: relative;
}

.singleProduct {
  box-shadow: 0 0 18px 0px #0000003d;
  margin: 0 11px;
  padding: 0 0 30px 0;
  border-radius: 10px;
}

.linethoug {
  text-decoration: line-through;
  color: gray;
}

.contentWrapper-proudct h3 {
  margin-bottom: 10px;
}

.singleProduct .btn {
  margin-top: 80px;
  display: block;
  margin: 0 auto;
  margin-top: 17px;
}

.footer .container img {
  height: auto;
  margin-top: 10px;
}
.aboutSectionleft .rowCustom {
  align-items: center;
}
.aboutSectionleft .rowCustom {
  align-items: center;
}
form {
  margin: 0 auto;
  width: 40%;
}
/* responsive */
@media (max-width: 1024px) {
>>>>>>> 6ff6d2b382672a4ed12bead2fd8c7f695c9db6b7
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1280px) {
  .whyChosseHome img {
    width: 5.5rem;
  }

  .maidel {
    width: 70%;
    padding: 10px;
    padding-left: 30px;
  }

  .leftImages img {
    width: 100%;
  }
  .whyChosseHome img {
    width: 5.5rem;
  }

  .maidel {
    width: 70%;
    padding: 10px;
    padding-left: 30px;
  }

  .leftImages img {
    width: 100%;
  }

  .counterSection img {
    width: 5rem;
    margin-bottom: 10px;
  }
<<<<<<< HEAD
}

@media (max-width: 1024px){
  .menuSection.flex-row-reverse .container {
    flex-flow: column wrap;
}
}
@media (max-width: 767px) {
  .container {
    max-width: 100% !important;
    width: 100% !important;
  }
  .menuSection.flex-row-reverse .container {
    flex-flow: column wrap;
}

.imagCol,.menuCol {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.imagCol img {
    width: 100%;
}
}
@media (max-width: 600px) {
  .homeChef {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .homeChef {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  .blogHOme {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .maidel {
    width: 100%;
  }
  .similarProduct {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important  ;
}

=======
  .portfolio-wrapper img {
    width: 49%;
  }
  .footer .container h2 {
    font-size: 26px;
  }
 

  .form-wrapper .btn {
    width: 100%;
  }

  .colmun-6 {
    width: 100%;
  }

  .rowCustom {
    flex-flow: row wrap;
  }

  .banner p {
    margin-bottom: 40px;
    text-align: center;
  }

  .banner h2 {
    text-align: center;
  }

  .aboutSection {
    padding: 50px 0;
  }

  .mainProduct-row {
    flex-flow: row wrap;
    justify-content: center;
  }

  .singleProduct {
    margin-bottom: 30px;
  }
  form {
    margin: 0 auto;
    width: 60%;
}
}
@media (max-width: 700px) {
  nav.menu.flex.space-x-4 {
    display: none;
  }
  .aboutpageWrapper .aboutSectionleft img {
    height: auto;
  }
  .banner,.aboutpageWrapper,section.contantForm{
    margin-top: -140px;
  }
  .logo {
    padding-bottom: 20px;
    
}
form {
  margin: 0 auto;
  width: 90%;
}
>>>>>>> 6ff6d2b382672a4ed12bead2fd8c7f695c9db6b7
}
