@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.tff") format("woff2"),
    url("/fonts/Helvetica-Bold.ttf") format("woff");
  font-weight: 400; /* Regular */
  font-style: normal;
}
:root {
  --maincolor: rgba(255, 159, 13, 1);
}
/* styles/globals.css */
body,
p,
h1,
h2,
h3,
h4,
ul,
input {
  font-family: "Helvetica", sans-serif;
}
p,
span {
  font-family: "Inter", sans-serif;
}
.mainBanner {
  background-image: url("/img/banner_bg.jpg");
  background-position: center center;
}
.familytwo {
  font-family: Great Vibes;
}
.homeBtn {
  background-color: var(--maincolor);
  font-weight: 400;
}
.subTitle-banner {
  color: var(--maincolor);
}
.mainColor {
  color: var(--maincolor);
}
.maidel span {
  display: block;
}
.maidel span {
  display: block;
}

.maidel {
  overflow: hidden;
  position: relative;
  padding-left: 30px;
  width: 60%;
  justify-content: flex-start;
  margin-top: 20px !important;
}

.maidel h4 {
  margin-left: 20px;
}

.maidel:before {
  content: "";
  position: absolute;
  background: #ff9f0d;
  height: 100%;
  width: 8px;
  left: 0;
}
.maidel span {
  display: block;
}

.maidel {
  overflow: hidden;
  position: relative;
  padding-left: 30px;
  width: 60%;
  justify-content: flex-start;
  margin-top: 20px !important;
}

.maidel h4 {
  margin-left: 20px;
}

.maidel:before {
  content: "";
  position: absolute;
  background: #ff9f0d;
  height: 100%;
  width: 8px;
  left: 0;
}
.counterSection {
  background-image: url("/img/home/count_bg.png");
  background-size: cover;
  background-position: center;
}
.chefDetails {
  background: #ffffff;
  width: 70%;
  z-index: 10;
  position: relative;
  display: block;
  position: relative;
  margin-top: -87px;
  color: #000;
  padding-left: 22px;
}
.starFill {
  color: #ff9f0d;
}
.processSection {
  background: url("/img/home/process.png") no-repeat;
}
.imagCol {
  width: 40%;
}
.menuCol {
  width: 60%;
}
.imagCol img {
  width: 80%;
}
.menuSection.flex-row-reverse .container {
  flex-flow: row-reverse;
}
.buttonBg-color {
  background: var(--maincolor);
  color: #fff;
}
.blogBtn {
  color: var(--maincolor);
  border: 1px solid var(--maincolor);
}
.mainProductIgm {
  margin-top: 0 !important;
}
.tagsMain {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 0 !important;
}

.tagsMain li {
  justify-content: space-around;
  border: 1px solid #e0e0e0;
  padding: 8px;
  margin-top: 0 !important;
}
.lightBg {
  background-color: #ff9f0d;
  color: #fff;
}
.aboutBoxes svg {
  margin: 0 auto;
}
.innerChef section.bg-black {
  background: white;
  color: #000 !important;
}
.innerChef section.bg-black,
.innerChef section .rounded-md.bg-black {
  background: white;
  color: #000 !important;
}

.grid.grid-cols-1.md\:grid-cols-2.gap-8.rounded-md bg-black {
  background: #fff !important;
}
.chefContainer p {
  margin-top: 0 !important;
}
.singleFaq {
  background: rgba(250, 247, 242, 1);
}
@media (min-width: 1536px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1280px) {
  .whyChosseHome img {
    width: 5.5rem;
  }

  .maidel {
    width: 70%;
    padding: 10px;
    padding-left: 30px;
  }

  .leftImages img {
    width: 100%;
  }
  .whyChosseHome img {
    width: 5.5rem;
  }

  .maidel {
    width: 70%;
    padding: 10px;
    padding-left: 30px;
  }

  .leftImages img {
    width: 100%;
  }

  .counterSection img {
    width: 5rem;
    margin-bottom: 10px;
  }
}

@media (max-width: 1024px){
  .menuSection.flex-row-reverse .container {
    flex-flow: column wrap;
}
}
@media (max-width: 767px) {
  .container {
    max-width: 100% !important;
    width: 100% !important;
  }
  .menuSection.flex-row-reverse .container {
    flex-flow: column wrap;
}

.imagCol,.menuCol {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.imagCol img {
    width: 100%;
}
}
@media (max-width: 600px) {
  .homeChef {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .homeChef {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  .blogHOme {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .maidel {
    width: 100%;
  }
  .similarProduct {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important  ;
}

}
